.header {
    background-color: $primaryCream;
    padding-inline: 18px;

    @include breakpoint-up(large) {
        padding-inline: 7%;
        padding-bottom: 60px;
    }

    &-backdrop {
        background-color: rgba(0, 0, 0, 0.600);
        width: 0;
        height: 0;
        position: fixed;
        left: 0;
        transition: 0.3s ease-in-out;
    }

    &-mobile {
        margin-top: 20px;
        padding: 30px;
        border-radius: 5px;
        position: fixed;
        background-color: #3EB886;
        width: 91%;
        display: none;

        &__close {
            position: absolute;
            right: 30px;
            // margin-bottom: 20px;
        }


        &__items {
            list-style: none;
            margin: o;
            padding: 0;
            text-align: center;
            padding-top: 30px;

            li {
                margin-bottom: 10px;
            }

            a {
                color: $black;
            }
        }

        &__cta {
            display: flex;
            flex-direction: column;
            text-align: center;

            // a {
            //     // width: 100%;
            // }

            // background-color: gray;
        }

    }

    &-nav {

        &__items {

            @include breakpoint-up(large) {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                gap: 27px;
            }

            a {
                color: black;
            }
        }
    }

    &-cta {
        &__up {
            color: $white;
            background-color: $primaryBlue;
        }
    }

    &-hero {
        @include breakpoint-up(large) {
            display: flex;
            flex-direction: row-reverse;
            // justify-content: space-evenly;
            align-items: center;
            margin-top: 81px;
        }

        &__img {

            @include breakpoint-up(large) {
                // width: 50%;
                flex: 1;
            }

            img {
                width: 100%;
            }
        }

        &__content {
            @include breakpoint-up(large) {
                // width: 50%;
                flex: 1;
                // padding-top: 10%;
                // margin-bottom: 60px;
            }

            &__rating {
                display: flex;

                @include breakpoint-up(large) {
                    margin-bottom: 34px;
                }

                &__star {
                    display: flex;
                    flex-direction: row;
                    margin-right: 18px;

                    img {
                        width: 18px;
                        margin-right: 5px;
                    }
                }
            }

            h1 {
                max-width: 60%;

                @include breakpoint-up(large) {
                    max-width: unset;
                }
            }

            p {
                line-height: 30px;
                color: #676766;
            }

            &__cta {
                display: flex;
                flex-direction: column;
                text-align: center;

                @include breakpoint-up(large) {
                    // display: flex;
                    flex-direction: row;
                }

                &__start {
                    background-color: $primaryBlue;
                    color: $white;
                }

                &__example {
                    color: $primaryBlue2;
                    text-decoration: underline;
                    // border-bottom: 2px solid green;
                }
            }

            &__trial {
                margin-top: 24px;
                padding-bottom: 30px;

                @include breakpoint-up(large) {
                    display: flex;
                }

                &__info {
                    display: flex;
                    align-items: center;
                    margin-bottom: 14px;

                    span {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;

    // @include breakpoint-up(large) {
    //     justify-content: space-between;
    // }
}

.conn {
    display: flex;
}

.tri {
    margin-right: 18px;
    // background-color: #676766;
}