@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  list-style: 1.3;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #fafafa;
}

h1,
h2,
h3 {
  margin-top: 0;
}

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: unset;
    display: none !important;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: unset;
    display: none !important;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.hide {
  display: none !important;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.btn {
  color: black;
  padding-block: 12px;
  padding-inline: 20px;
  border-radius: 5px;
  cursor: pointer;
}

button {
  cursor: pointer;
}

li {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin: 0px;
}

h1 {
  font-size: 2rem;
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;
}

@media only screen and (min-width: 1000px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.25rem;
}

@media only screen and (min-width: 1000px) {
  h3 {
    font-size: 1.5rem;
  }
}

.header {
  background-color: #FBF8F3;
  padding-inline: 18px;
}

@media (min-width: 64em) {
  .header {
    padding-inline: 7%;
    padding-bottom: 60px;
  }
}

.header-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 0;
  height: 0;
  position: fixed;
  left: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header-mobile {
  margin-top: 20px;
  padding: 30px;
  border-radius: 5px;
  position: fixed;
  background-color: #3EB886;
  width: 91%;
  display: none;
}

.header-mobile__close {
  position: absolute;
  right: 30px;
}

.header-mobile__items {
  list-style: none;
  margin: o;
  padding: 0;
  text-align: center;
  padding-top: 30px;
}

.header-mobile__items li {
  margin-bottom: 10px;
}

.header-mobile__items a {
  color: #141414;
}

.header-mobile__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (min-width: 64em) {
  .header-nav__items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 27px;
  }
}

.header-nav__items a {
  color: black;
}

.header-cta__up {
  color: #fafafa;
  background-color: #4D13D1;
}

@media (min-width: 64em) {
  .header-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 81px;
  }
}

@media (min-width: 64em) {
  .header-hero__img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.header-hero__img img {
  width: 100%;
}

@media (min-width: 64em) {
  .header-hero__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.header-hero__content__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 64em) {
  .header-hero__content__rating {
    margin-bottom: 34px;
  }
}

.header-hero__content__rating__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 18px;
}

.header-hero__content__rating__star img {
  width: 18px;
  margin-right: 5px;
}

.header-hero__content h1 {
  max-width: 60%;
}

@media (min-width: 64em) {
  .header-hero__content h1 {
    max-width: unset;
  }
}

.header-hero__content p {
  line-height: 30px;
  color: #676766;
}

.header-hero__content__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (min-width: 64em) {
  .header-hero__content__cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header-hero__content__cta__start {
  background-color: #4D13D1;
  color: #fafafa;
}

.header-hero__content__cta__example {
  color: #5017D2;
  text-decoration: underline;
}

.header-hero__content__trial {
  margin-top: 24px;
  padding-bottom: 30px;
}

@media (min-width: 64em) {
  .header-hero__content__trial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-hero__content__trial__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}

.header-hero__content__trial__info span {
  margin-left: 10px;
}

.con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  width: 100%;
}

.conn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tri {
  margin-right: 18px;
}

.features {
  margin-top: 75px;
  margin-inline: 18px;
}

@media (min-width: 64em) {
  .features {
    margin-inline: 7%;
  }
}

.features h3 {
  color: #4D13D1;
  font-size: 16px;
  margin-bottom: 23px;
}

@media (min-width: 64em) {
  .features h3 {
    font-size: 20px;
  }
}

.features h2 {
  font-size: 36px;
}

@media (min-width: 64em) {
  .features h2 {
    max-width: 60%;
  }
}

.features-items {
  margin-top: 52px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 64em) {
  .features-items {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.features-items__cards__img {
  margin-bottom: 17px;
}

.features-items__cards span {
  margin-top: 17px;
  font-weight: 700;
}

.features-items__cards p {
  color: #959492;
}

@media (min-width: 64em) {
  .features-items__cards p {
    max-width: 80%;
  }
}

.diverse {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: #4D13D1;
  margin-inline: 18px;
  color: #fafafa;
  border-radius: 10px;
}

@media (min-width: 64em) {
  .diverse {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 70px;
    margin-inline: 7%;
  }
}

.diverse-content {
  padding-inline: 35px;
  padding-top: 60px;
}

.diverse-content p {
  color: #D3C4F8;
  margin-bottom: 30px;
  font-size: 20px;
}

.diverse-content a {
  background-color: #fafafa;
  color: #4D13D1;
  font-weight: 700;
  padding: 18px;
}

.diverse-img {
  margin-top: 51px;
  padding-inline: 35px;
}

.diverse-img img {
  width: 100%;
}

.testimony {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-inline: 18px;
  margin-top: 80px;
  row-gap: 50px;
}

@media (min-width: 64em) {
  .testimony {
    row-gap: unset;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 5%;
            column-gap: 5%;
    margin-inline: 7%;
  }
}

.testimony-items {
  border: 2px solid #DADADA;
  padding: 20px;
  border-radius: 10px;
}

.testimony-items__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimony-items__head__img {
  margin-right: 17px;
}

.testimony-items__head__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimony-items__footer {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.testimony-items__footer a {
  border: 2px solid #DADADA;
  color: #4D13D1;
  padding-bottom: 10px;
  width: 100%;
}

.footer {
  background-color: #FBF8F3;
  margin-top: 40px;
  padding-inline: 18px;
  display: -ms-grid;
  display: grid;
  row-gap: 40px;
  padding-top: 30px;
}

@media (min-width: 64em) {
  .footer {
    -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    padding-inline: 7%;
    -webkit-column-gap: 3%;
            column-gap: 3%;
    padding-top: 50px;
    row-gap: unset;
    padding-block: 60px;
  }
}

.footer__main h1 {
  font-size: 20px;
}

.footer__links h1 {
  font-size: 20px;
}

.footer__links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.footer__links ul li {
  padding-block: 7px;
  color: #959492;
}

.register {
  margin-top: 60px;
}

@media (min-width: 64em) {
  .register {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-top: unset;
    height: 100vh;
  }
}

.register-left {
  margin-inline: 18px;
}

@media (min-width: 64em) {
  .register-left {
    margin-top: 60px;
    padding-inline: 12%;
  }
}

.register-left__logo {
  font-size: 20px;
}

.register-left__create {
  margin-top: 60px;
}

.register-left-input {
  margin-top: 30px;
}

.register-left-input__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.register-left-input__field label {
  font-weight: 700;
}

.register-left-input__field__inp {
  margin-top: 10px;
  height: 47px;
  border: 1px solid #959492;
  border-radius: 5px;
  padding-left: 20px;
}

.register-left-input__field__inp::-webkit-input-placeholder {
  font-size: 18px;
}

.register-left-input__field__inp:-ms-input-placeholder {
  font-size: 18px;
}

.register-left-input__field__inp::-ms-input-placeholder {
  font-size: 18px;
}

.register-left-input__field__inp::placeholder {
  font-size: 18px;
}

.register-left-input__field__con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 47px;
  margin-top: 10px;
  border: 1px solid #959492;
  border-radius: 5px;
}

.register-left-input__field__con button {
  background-color: transparent;
  border: none;
  outline: none;
  width: 10%;
}

.register-left__terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register-left__terms input[type="checkbox"] {
  margin-right: 10px;
}

.register-left__terms p {
  margin: 0;
}

.register-left__terms a {
  text-decoration: underline;
  font-weight: 700;
}

.register-left__submit {
  margin-top: 20px;
}

.register-left__submit button {
  border: none;
  background-color: #4D13D1;
  color: #fafafa;
  font-weight: 500;
  width: 100%;
  padding: 20px;
  font-size: 18px;
}

.register-left__login {
  margin-top: 20px;
  text-align: center;
}

.register-left__login a {
  width: 100%;
}

.register-left__login span {
  color: #4D13D1;
}

.register-right {
  background-color: #6023E6;
  padding-inline: 10%;
  padding-block: 13%;
}

.register-right__img img {
  width: 100%;
}

.register-right__content {
  margin-inline: 5%;
}

.register-right__content h1 {
  text-align: center;
  color: #fafafa;
  font-size: 35px;
}

.register-right__content p {
  text-align: center;
  color: #fafafa;
}

.register-right__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register-right__buttons input[type="radio"] {
  border: 1px solid transparent;
  padding: 10px;
}

.register-right__buttons input[type="radio"]:checked {
  background-color: #fafafa;
}

.rrr {
  width: 90%;
  border: none;
  outline: none;
  padding-left: 20px;
  background-color: transparent;
}

.rrr::-webkit-input-placeholder {
  font-size: 18px;
}

.rrr:-ms-input-placeholder {
  font-size: 18px;
}

.rrr::-ms-input-placeholder {
  font-size: 18px;
}

.rrr::placeholder {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */